body {
    background-color: #DCF8FF;
    font-family: Arial;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.button {
    color: #ffffff;
    background-color: #1B2266;
    border: 2px solid #AF1BFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    margin: 10px auto;
    width: 12%;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #FF94E4;
    transition: background-color 0.3s ease;
}


.back {
    color: #ffffff;
    background-color: #1B2266;
    border: 2px solid #AF1BFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    width: 12%;
    position: fixed;
    top: 10px;
    left: 10px;
    transition: background-color 0.3s ease;
}

.back:hover {
    background-color: #FF94E4;
    transition: background-color 0.3s ease;
}

.system {
    margin-top: 10vh;
}

table {
    border-bottom: solid 2px #1B2266;
    border-collapse: collapse;
    text-align: center;
    width: 100vw;
}

th {
    background-color: #1B2266;
    color: white;
}

th,
td {
    padding: 10px 10px;
    border-collapse: collapse;
    word-break: break-all;
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #FFFFFF;
}

/* Start Form*/

form {
    margin: 4% 15%;
    padding-bottom: 20px;
    padding-top: 20px;
    border: solid 2px black;
}

input,
select,
button,
textarea {
    padding: 10px;
    margin-top: 10px;
    margin-right: 10%;
    width: 90%;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid black;
}

input[type=checkbox] {
    width: 50px;
}

label {
    display: flex;
    width: 20vw;
    padding-left: 10%;
    padding-top: 15px;
}

.formfield {
    display: flex;
    flex-direction: row;
}

button[type=submit] {
    color: #ffffff;
    background-color: #1B2266;
    border: 2px solid #AF1BFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    margin: 10px auto;
    width: 80%;
    transition: background-color 0.3s ease;
}

button[type=submit]:hover {
    background-color: #FF94E4;
    transition: background-color 0.3s ease;
}

.create #message {
    height: 150px;
}

.error {
    color: #ff0000;
    margin: 0px;
}


/* End Form */
