body {
    background-color: #e0fcfc;
    font-family: Arial;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.back {
    display: block;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    background-color: #8585ff;
    border: 3px solid black;
    color: black;
    position: fixed;
    top: 10px;
    left: 10px;
}

.back:hover {
    background-color: #b1b1ff;
}

th {
    background-color: #6262ff;
}

th,
td {
    padding: 10px 10px;
}

.new {
    display: block;
    padding: 10px;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-bottom: 0;
    background-color: #8585ff;
}

.new:hover {
    background-color: #b1b1ff;
}

.system {
    margin-top: 10vh;
}

table {
    border-bottom: solid 2px black;
    border-top: solid 2px black;
    width: 100vw;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #FFFFFF;
}


/* Start Form*/

form {
    margin: 4% 15%;
    padding-bottom: 20px;
    padding-top: 20px;
    border: solid 2px black;
}

input,
select,
button,
textarea {
    padding: 10px;
    margin-top: 10px;
    margin-right: 10%;
    width: 90%;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid black;
}

input[type=checkbox] {
    width: 50px;
}

label {
    display: flex;
    width: 20vw;
    padding-left: 10%;
    padding-top: 15px;
}

.formfield {
    display: flex;
    flex-direction: row;
}

button {
    background-color: #8585ff;
    margin-left: 10%;
    width: 80%;
}

button[type=submit] {
    border: 4px solid black;
    background-color: #8585ff;
    font-size: 1em;
}

button[type=submit]:hover {
    background-color: #b1b1ff;
}

.create #message {
    height: 150px;
}

.error {
    color: #ff0000;
    margin: 0px;
}


/* End Form */
